
.DS_Store
/dseva-backend/collector/__pycache__
dseva-backend/collector/resttest.py
/dseva-backend/django/env
dseva-backend/.env.secret
/dseva-backend/collector/routes/__pycache__
/dseva-backend/collector/services/__pycache__
